{% extends "base.html" %}
{% load static %}

{% block site-title %}
  AnaSayfa
{% endblock site-title %}



{% block site-icerik %}

    {% if request.user.is_authenticated %}
    <div class="mb-4 post-container">

        {% if error %}
        <div class="alert alert-danger" role="alert">
         {{error}}
        </div>
        {% endif %}

        <div class="d-flex align-items-center avatar-container">
          
  
            <div>
                <img src="{{request.user.avatar.url}}" alt="Avatar">
            </div>

            <a class="username" href="{% url 'user-view' request.user.id %}">{{request.user.username}}</a>

        </div>

        <form action="{% url 'index-view' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea required name="tweetContent" class="form-control" placeholder="Neler oluyor?"></textarea>

            <div class="post-card">
              <input name="tweetAttachment" class="form-control" type="file">
              <button type="submit" class="form-control btn btn-success">Tweetle</button>
            </div>

        </form>

    </div>
    {% endif %}


    {% for id, tweet in tweets.items %}

    <div class="modal fade" id="tweet.data-{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{tweet.data.author.username}} gönderisini düzenliyorsunuz</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <form action="{% url 'update-tweet-view' id %}" method="post">

          {% csrf_token %}

          <div class="modal-body">
              <div class="mb-3">
                <textarea name="newContent" class="form-control">{{tweet.data.tweet}}</textarea>
              </div>

          </div>
          <div class="modal-footer">
       
            <button type="submit" class="btn btn-primary">Güncelle</button>
          </div>
        </form>

        </div>
      </div>
    </div>


    <!-- POSTS -->
    <div class="card mb-4">

              <div class="card-body tweet-body">


                  <div class="d-flex align-items-center avatar-container">
          
  
                    <div>
                        <img src="{{tweet.data.author.avatar.url}}" alt="Avatar">
                    </div>
        
                    <a class="username" href="{% url 'user-view' tweet.data.author.id %}">{{tweet.data.author.username}}</a>
        
         



                  {% if request.user.is_authenticated and request.user.is_superuser or request.user.id == tweet.author.id %}
                  
                      <div class="dropdown ms-auto">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        
                        <ul class="dropdown-menu">
                          <li> <button class="dropdown-item text-primary" data-bs-toggle="modal" data-bs-target="#tweet.data-{{id}}">Güncelle</button>  </li>
                          <li> <a class="dropdown-item text-danger" href="{% url 'delete-tweet-view' id %}">Sil</a> </li>
                        
                        </ul>
                      </div>
                  {% endif %}

                </div>

                   <div class="data-wrap" onclick="navigateToDetail(event, '{{tweet.data.id}}')">
                      <p class="card-text tweet-text">{{tweet.data.tweet}}</p>


                      {% if tweet.data.attachment %}

                      <div class="tweet-attachment">

                          <a href="{{tweet.data.attachment.url}}" target="_blank">
                            <img src="{{tweet.data.attachment.url}}" alt="tweet-attachment">
                          </a>
                          
                      </div>
                        
                      {% endif %}

                  </div>
     
                <div class="mt-3 d-flex tweet-footer">
                  <!-- <ion-icon name="heart-sharp"></ion-icon> -->

                  {% if request.user.is_authenticated %}
                    
                 
                  <div class="tweet-footer-container">
                  
                    <div class="like-container">

                    <ion-icon onclick="make_api_request(event, '{{tweet.data.id}}')" 
                    class="heart" 
                    
                    {% if tweet.isLiked is True %}

                        name = "heart-sharp"
                    {% else %}

                        name = "heart-outline"
                    {% endif %}
                    
                    ></ion-icon>
       
                    
                    <span>{{tweet.data.show_likes}}</span>
                    </div>


                    <div class="comment-container">
                        <ion-icon name="arrow-redo-outline"></ion-icon>
                        <span>3</span>
                    </div>
              

             
                  </div>
                  {% endif %}
                  
                  <small class="ms-auto text-muted">• {{tweet.data.createdAt}}</small>
                </div>

                <!-- comment alanı -->

                <form action="">

                  <div class="d-flex align-items-center comment-wrapper">

                     <div class="comment-field">

                        <textarea class="form-control" placeholder="Yanıt ver"></textarea>
                    </div>


                    <div>
                        <ion-icon name="send-sharp"></ion-icon>
                    </div>
          
                  </div>
        


                </form>

              </div>
        
          </div>


  {% endfor %}




 <script src="{% static 'Scripts/api_request.js' %}"></script>

  <script>


function navigateToDetail(event, tweetId) {


      // console.log("tıklanan eleman:",event.target.localName)

      if (event.target.localName === "img") {
           return
      }

      window.location.href = `/tweet/${tweetId}`

}

  </script>


{% endblock site-icerik %}