{% extends "base.html" %}
{% load static %}


{% block site-icerik %}


    <!-- back btn -->
    <div class="mb-3">
        <a href="{% url 'index-view' %}">
            <ion-icon size="large" name="arrow-back-outline"></ion-icon>
            
        </a>
    </div>

    <!-- user profile banner -->
    <div class="d-flex align-items-center avatar-container">
          
  
        <div>
            <img src="{{user.avatar.url}}" alt="Avatar">
        </div>

        <a href="{% url 'user-view' user.id %}">{{user.username}}</a>

    </div>

    <div class="mt-4">
    
    <h3>{{user.username}} en son şunları tweetledi</h3>
    <hr>

    {% for id, tweet in tweets.items %}

      {% include "card.html" with id=id tweet=tweet %}
      
    {% endfor %}



    </div>



  <script src="{% static 'Scripts/api_request.js' %}"></script>

{% endblock site-icerik %}